body {
    font-size: 1rem;
}
.test {
    width: 500px;
    height: 500px;
    background-color: rgb(15, 15, 223);
    overflow: hidden;
    border-width: 30px;
    border-color: rgb(139, 53, 22);
    border-style: groove;
    border-radius: 20px/100px;
    cursor: pointer;
}
.test:hover {
    border-color: rgb(102, 102, 107);
    border-style: dashed;
}